.orderItem {
  transition: all 0.3s;

  &__menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    background: transparent;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    &__trash {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: transparent;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }

      &:active {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
  }
}
